[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "sysadminscripts"]
	path = sysadminscripts
	url = git@github.com:bg46z/sysadminscripts.git
