[submodule "vim"]
	path = vim
	url = http://github.com/bg46z/vim.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "sysadminscripts"]
	path = sysadminscripts
	url = git@github.com:bg46z/sysadminscripts.git
